blog+=(
	title        'My Blog'
	tagline      'Just another Zsh blog'
	root         '/'
	archives     '/archives'
	posts        5
	recent-posts 10

	ftp_user     "$USER"
	ftp_pass     ''
	ftp_host     ''
	ftp_root     '~/public_html'

	ftp_cmd      '_zb_ftp'
)

links+=(
	# 'Link text' 'http://link.url/'
	'Gittip' 'https://www.gittip.com/rummik/'
	'Github' 'https://github.com/rummik'
)

# vim: set ft=zsh :
